* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  font-family: 'Times New Roman', Times, serif;
}

#main {
  width: 99%;
  min-width: 99%;
  max-width: 99%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoListContainer {
  width: 40em;
  max-width: 90%;
  min-width: 40em;
  border: 2px solid #f6f6f6;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(179, 184, 182, 0.603);
  display: flex;
  flex-direction: column;
}

.toDoListContainer .container-list {
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-bottom: 2px solid #dfdfdf;
  background: #fff;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=checkbox]:hover,
button {
  cursor: pointer;
}

.clearCompleted button {
  height: 100%;
  background: none;
  border: none;
  font-size: 1.1rem;
  color: #a3a3a3;
}

.toDoListContainer .container-list button {
  background: none;
  border: none;
  color: rgb(182, 182, 182);
  margin-left: 1em;
}

.toDoListContainer .container-list button:hover {
  background: none;
  border: none;
  color: rgb(82, 82, 82);
}

input::placeholder {
  font-style: italic;
  color: #a3a3a3;
}

h1 {
  text-align: center;
}

p,
input[type='text'] {
  font-size: 1.2rem;
}

.inputNew input {
  font-style: italic;
  font-size: 1.2rem;
  border: none;
  width: 100%;
}

.inputNew input:focus {
  outline: none;
}

.toDoList {
  display: flex;
  flex-direction: column;
}

.toDoItem .checkbox {
  width: 2em;
  height: 20%;
  margin-right: 1em;
}

.toDoItem .edit-input {
  flex: 4;
}

.toDoItem .button {
  font-size: 1.2rem;
}

.clearCompleted {
  height: 5em;
  display: flex;
  border-bottom: none;
  background: #f6f6f6;
  justify-content: center;
  align-items: center;
  border: none;
}

input[type=checkbox]:checked {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox]:checked::after {
  content: "\2713";
  font-size: 1.6rem;
  color: #7b9cee;
}

input[type='text'] {
  outline: none;
  border: none;
  background: none;
}

.toDoItem.container-list.editing {
  background: #dddcaa;
}

.item-description.crossed {
  text-decoration: line-through;
}

.toDoItem.container-list.editing input[type='text']:hover {
  cursor: text;
}

.toDoItem.container-list .move-button:hover {
  cursor: move;
}

.toDoItem.container-list .delete-button {
  display: none;
}

.toDoItem.container-list .item-description {
  width: 100%;
}
